body.sesion {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
}
form.sesion {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 1000px; 
}
label.labelsesion {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input[type="text"].textsesion, input[type="password"].passwordsesion{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button.botonsesion {
    width: 100%;
    padding: 12px;
    background-color: #3f454b;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
}

button:hover.botonsesion {
    background-color: #0056b3;
}

/*Style de INICIO*/
body.inicio{
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.taskbar {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    background: rgba(0, 0, 0, 0.8);
    padding: 10px 15px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
}
.taskbar .icon {
    width: 50px;
    height: 50px;
    margin: 0 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.taskbar .icon:hover {
    transform: scale(1.2);
}
.menu {
    display: none;
    position: fixed;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 550px;
    background: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease-in-out;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -60%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}